html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}
.buttons-container{
    display: flex;
    justify-content: center;
}

.button{
    margin: 1em;
    padding: 1em;
    border: 1px solid #f4e04d;
    border-radius: 5px;
    background-color: #f4e04d;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;

}

#btn-notify{
    background-color: lightgreen;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #f4e04d;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}


.app-bar {
    width: 100%;
    background-color: #f4e04d;
}

.setup-complete {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: #faf4f4;
}